<div class="app-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">KaizenBox</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Links for authenticated users only -->
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/facilities">Facilities</a>
          </li>
          <!-- <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/user-profile">User Profile</a>
          </li> -->
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>

          <!-- Links for guests only -->
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="auth/login">Login</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="auth/register">Register</a>
          </li>

          <!-- Always visible -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <main class="content container mt-4">
    <router-outlet></router-outlet>
  </main>
</div>
